<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Стоматология</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css" />
        <link rel="stylesheet" href="main.css" />
</head>
<body>
<nav th:insert="~{layout::nav}"/>
<div class="block">

</div>
<div class="news">
    Novosti
</div>

<div>
    Diana Pak
</div>

<div>
    Process + Photo
</div>
<div class="container">
    <div class="picture">

    </div>
    <div class="tool">
        <p>Сканирование при помощи сканера Medit</p>
    </div>
</div>

<div th:insert="~{layout::footer}"/>
</body>
</html>